
<div class="center hero-unit">
  <h3>Enter your text to search on bing and google:-</h3>
  <form name="search_bing_google" action="/results" method="get">
  <div class="field">
    <input type="text_area" name="search_string" class="micropost_textarea" placeholder="Search on bing and google.." >
 </div>
 <input type="submit" value="Search" class="btn btn-large btn-primary" %>
</form>
</div>

