<div class="center hero-unit">
	<% if((!@google_results) && (!@bing_results)) %>
	<h3>Please wait for your results...</h3>
	<% else %>
	<h3>Result has been obtained!</h3>
	<h4><%= @google_results.class %></h4>
	<h4><%= @bing_results[0]["text"] %></h4>
	<% end %>
</div>
